@font-face {
    font-family: 'Trirong', serif;
    src: url('https://fonts.googleapis.com/css?family=Trirong');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(48, 48, 48);
    background-color: rgb(48, 48, 48);
}

div {
    text-align: center;
}

.wrapper {
    padding: 6px;
    border-radius: 16px;
    background-color: rgb(192, 192, 192);
}

.data {
    margin: 8px;
}